version: "3.8"

x-defaults: &defaults
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
  restart: always

services:
  vmprof-server:
    <<: *defaults
    build: .
    environment:
      SECRET_KEY:
    volumes:
      - ./data:/data
      - ./cpu:/usr/src/vmprof-server/cpu
      # - .:/usr/src/vmprof-server # for debugging
    ports:
      - "${LISTEN_HOST-127.0.0.1}:8000:8000"
