<img ng-show="loading" class="center-block loading" src="/static/images/loader.gif" />


<div ng-show="!loading" class="panel panel-default">
	<div class="panel-heading">

		<a ng-click="setFunction(null)" href="">{{ log.checksum }}</a><span ng-if="func">: {{ func.id }}</span>

	</div>

	<p ng-if="profiles.length == 0" class="lead text-center" style="padding-top: 15px">
		no profiles
	</p>

	<table class="table table-hover" ng-if="profiles.length > 0 ">
		<thead>
			<tr>
				<th>name</th>
				<th>file</th>
				<th>time</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="function in profiles">
				<td>
					<a ng-click="setFunction(function)" href="">
						{{ function.name }}
					</a>
				</td>
				<td>{{ function.file }}:{{ function.line }}</td>
				<td>{{ function.time }}%</td>
			</tr>
		</tbody>
	</table>

</div>
