<img ng-show="loading" class="center-block loading" src="/static/images/loader.gif" />

<div ng-show="!loading" class="list-group">

    <div class="media" ng-repeat="log in logs">
        <div class="media-left">
            <a href="#">
                <img class="media-object" ng-if="log.user" ng-src="{{ log.user.gravatar }}" style="width: 42px; height: 42px;">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading" id="media-heading">
                {{ log.user.username }} / <a ng-href="#{{ log.checksum }}"> {{ log.data.argv }}</a>

                </a>
            </h4>
            {{ log.created }}
        </div>
    </div>

</div>
