<div id="list">

  <div class="row display-control" ng-show="user">
    <div class="col-md-2 col-md-offset-10">
      <select class="form-control input-sm" ng-model="fetchAll" ng-change="getLogs(true)" ng-disabled="loading">
        <option selected value="">Display: Mine</option>
        <option value="True">Display: All</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <img ng-show="loading" class="center-block loading" src="/static/images/loader.gif" />

      <div ng-show="!loading" class="list-group" ng-init="ago=true">

        <div class="media" ng-repeat="log in logs" ng-style="background(log.created_at)">
          <div class="media-left">

            <img class="media-object" ng-src="{{ log.user.gravatar || '/static/images/logo_150.png' }}">

          </div>
          <div class="media-body">
            <h4 class="media-heading" id="media-heading">

              <span ng-if="log.user">{{ log.user.username }}</span><span ng-if="!log.user"><i style="color: #888">anonymous</i></span>:
	      <a ng-href="#{{ log.checksum }}"> {{ log.name }}</a>
            </h4>

            <div class="times" >
	      {{ log.vm }} / 
              <span ng-show="ago" ng-click="ago=false">{{ log.created_at | ago }}</span>
              <span ng-hide="ago" ng-click="ago=true">{{ log.created_at }}</span>
            </div>
          </div>
        </div>
	
	<button ng-if="next" type="button"
		class="btn btn-success btn-block"
		ng-click="more(next)">
	  More
	</button>
	
      </div>
      
    </div>
  </div>

</div>
