




<form id="login" class="center-block" ng-submit="submit()">

    <img src="/static/images/logo_300.png" class="logo center-block"  />

    <h1>Please sign in</h1>

    <div ng-show="error" class="alert alert-danger" role="alert">
        Username and password do not match
    </div>

    <div class="form-group" ng-class="{'has-error': error}">
        <input class="form-control" type="text" ng-model="user.username" placeholder="username" autofocus />
    </div>

    <div class="form-group" ng-class="{'has-error': error}">
        <input class="form-control" type="password" ng-model="user.password" placeholder="password" />
    </div>

    <button class="btn btn-primary btn-block" type="submit" ng-disabled="!user.username || !user.password">
        Sign in
    </button>

    <hr/>
    <p class="text-center">
        Don't have an account? <a href="#/register"> Register </a>
    </p>
</form>

