nav .navbar-right a.dropdown-toggle {
	padding: 2px 6px 2px 4px;
}

#list .display-control{
	margin-bottom: 15px;
}

#list img.media-object{
	width: 42px;
	height: 42px;
}

#list .media {
	margin-top: 0;
	border-bottom: 1px solid #eee;
	padding: 10px 0 10px 10px;
}

#list .media:first-child {
	border-top: 1px solid #eee;
}


#list .media .times:hover {
	cursor: pointer;
}

#list .media .media-body {
	padding-left: 2px;
}


#register {
	padding: 40px;
	max-width: 800px;
}

#register {
	padding: 40px;
	max-width: 900px;
}

#register h1 {
	text-align: center;
	margin-bottom: 20px;
}

#register .control-label {
	padding-right: 10px;
}

#register .help-block {
	padding-left: 10px;
	font-size: 13px;
}

#login {
	padding: 40px;
	max-width: 500px;
}

#login .logo, #register .logo {
	width: 150px
}

#login h1 {
	text-align: center;
	margin-bottom: 20px;
}

#login input {
	margin-bottom: 10px;
}

#login button {
	margin-top: 20px;
}

img.loading {
	position: fixed;
	width: 60px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#item header {
	padding-left: 15px;
	margin-bottom: 30px;
}

#item header .times {
	font-size: 30px;
	margin-bottom: 10px;
}

#item header .metadata {
	font-size: 16px;
	display: block;
}

#item header .metadata .label {
	margin-right: 5px;
}

.paths {
	margin-left: 10px;
}

.table {
	margin-bottom: 0;
}

svg rect, svg text {
	cursor: pointer;
	cursor: hand;
}

.footer {
	padding: 20px;
}

#visualization {
    margin-top: 5px;
}

#wide-popovers .popover {
    max-width: none;
}

.trace {
    font: Courier, monospace;
    font-size: 15px;
    background: #f8f8f8;
    padding: 15px;
    border: 1px solid #e8e8e8;
}

.trace-type-ctrl {
    padding: 5px;
}

.trace-line {
}

span.resop-name {
    color: #a71d5d;
    font-weight: italic;
}

.trace-asm {
    margin-left: 15px;
    color: #969896;
    font-size: 14px;
}

.instr {
    line-height: 24px;
    height: 20px;
}

span.var {
    padding: 2px;
}

span.const {
    padding: 2px;
}

span.selected.var {
    color: white;
}

.live-range {
    display: inline-block;
    width: 2px;
    margin-right: 1px;
}

.trace-line-number {
    display: inline-block;
    min-width: 1.5em;
    text-align: right;
    margin-right: 5px;
}

.asm-mnemoic {
    color: #088A29;
}

.trace-asm-line {
    margin-left: 20px;
}

#forest {
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    height: 150px;
}

.trunk {
    fill: red;
}

.guard {
    fill: green;
}

.guard-not-stitched {
    stroke: blue;
    stroke-width: 2px;
}
.guard-not-stitched-text {
    stroke: blue;
    font-size: 8px;
}

.link {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
}
