nav .navbar-right a.dropdown-toggle {
	padding: 2px 6px 2px 4px;
}

#register {
	padding: 40px;
	max-width: 800px;
}

#register {
	padding: 40px;
	max-width: 900px;
}

#register h1 {
	text-align: center;
	margin-bottom: 20px;
}

#register .control-label {
	padding-right: 10px;
}

#register .help-block {
	padding-left: 10px;
	font-size: 13px;
}

#login {
	padding: 40px;
	max-width: 500px;
}

#login h1 {
	text-align: center;
	margin-bottom: 20px;
}

#login input {
	margin-bottom: 10px;
}

#login button {
	margin-top: 20px;
}

img.loading {
	position: fixed;
	width: 60px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#item header {
	padding-left: 15px;
	margin-bottom: 30px;
}

#item header .times {
	font-size: 30px;
	margin-bottom: 10px;
}

#item header .metadata {
	font-size: 16px;
	display: block;
}

#item header .metadata .label {
	margin-right: 5px;
}

.paths {
	margin-left: 10px;
}

.table {
	margin-bottom: 0;
}

svg rect, svg text {
	cursor: pointer;
	cursor: hand;
}