<div id="forest" trace-forest>
    <svg id="forest_svg" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="forest_legend">
            <rect id="forest_legend" width="200" height="80"
                                     x="-10" y="-10">
            </rect>
           <g>
                <circle class="trace-enter" r="3" />
                <text x="8" y="4">Label</text>
           </g>
           <g transform="translate(0,15)">
                <line class="guard-not-stitched" x1="-3" x2="3" y1="-3" y2="3" />
                <line class="guard-not-stitched" x1="3" x2="-3" y1="-3" y2="3" />
                <text x="8" y="4">Guard</text>
           </g>
           <g transform="translate(0,30)">
                <circle class="guard" r="3" />
                <text x="8" y="4">Guard stitched</text>
           </g>
           <g transform="translate(0,45)">
                <text x="0" y="4">Trace trees grow from top to bottom.</text>
           </g>
           <g transform="translate(0,60)">
                <text x="0" y="4">Hover over the tree to expand details.</text>
           </g>
        </g>
    </svg>
</div>

<div class="row trace-type-ctrl" ng-if="traces">
    <div class="col-sm-12 col-lg-12">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                  data-toggle="dropdown">
                 Stage <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li><a ng-class="{'active': trace_type == 'noopt'}"
                     ng-click="switch_trace('noopt')">Unoptimized Trace
                     <span class="fa fa-check" ng-if="trace_type == 'noopt'"></span>
                 </a>
              </li>
              <li><a ng-class="{'active': trace_type == 'opt'}"
                     ng-click="switch_trace('opt')">Optimized Trace
                     <span class="fa fa-check" ng-if="trace_type == 'opt'"></span>
                 </a>
              </li>
              <li><a ng-class="{'active': trace_type == 'asm'}"
                     ng-click="switch_trace('asm')">Assembled Trace
                     <span class="fa fa-check" ng-if="trace_type == 'asm'"></span>
                 </a>
              </li>
          </li>
        </div>
        <button class="btn btn-default btn-sm" ng-click="show_asm=!show_asm">
            <i class="fa fa-code"></i>
            <span ng-if="!show_asm">Show Assembler</span>
            <span ng-if="show_asm">Hide Assembler</span>
        </button>
        </div>
    </div>

    <div class="col-sm-6 col-lg-6">
        <input class="form-control input-group-sm" type="text"
               ng-model="filter" value=""
               placeholder="Hello" />
        <ul>
            <li ng-repeat="trace in traces" ng-show="$index">
                <a ng-click="display_trace(trace)">
                    {{trace.get_type()}}: {{trace.get_name()}}
                </a>
            </li>
        </ul>
    </div>

    <div class="col-md-6" ng-if="selected_trace" hover-vars>
        <div class="no-trace" ng-if="ops.length == 0">Trace not recorded in JIT log</div>
        <div class="trace-line" ng-repeat="op in ops">
            <div ng-bind-html="op.to_s($index+1)" class="instr" data-index="{{$index}}"></div>
            <div class="trace-asm" ng-if="show_asm">
                <div class="trace-asm-line" ng-repeat="asm in op.get_disassembly() track by $index">
                    <div ng-bind-html="asm"></div>
                </div>
            </div>
        </div>
    </div>
</div>

