<div id="list">

  <div class="row display-control" ng-show="user">
    <div class="col-md-2 col-md-offset-10">
      <select class="form-control input-sm" ng-model="fetchAll" ng-change="getLogs(true)" ng-disabled="loading">
        <option selected value="">Display: Mine</option>
        <option value="True">Display: All</option>
      </select>
    </div>
  </div>

  <div class="row">
    <img id="loading_img" ng-show="loading" class="center-block loading" src="/static/images/loader.gif" />
  </div>

  <div ng-show="!loading" class="list-group" ng-init="ago=true">
    <div class="row profile-entry" ng-repeat="log in logs" ng-style="background(log.created)">
      <div class="col-md-1">
          <img class="media-object" ng-if="!log.user"
               ng-src="{{ log.user.gravatar || '/static/images/logo_150.png' }}">
      </div>
      <div class="col-md-4">
        <div class="list-argv list-title">
          <span class="vm-name label label-default">{{ log.vm }}</span>
          {{log.name}}
        </div>
        <div class="list-username">
            <span ng-if="log.user">{{ log.user.username }}</span>
            <span ng-if="!log.user"><i style="color: #888">anonymous</i></span>
        </div>
        <span ng-show="ago" ng-click="ago=false">{{ log.created | ago }}</span>
        <span ng-hide="ago" ng-click="ago=true">{{ log.created }}</span>
      </div>
      <div class="col-md-4">
          <a class="list-profile-link" href="#/{{ log.runtime_id }}">
            <i class="fa-code"></i> cpu
          </a><br>
          <a class="list-profile-link" href="#/{{ log.runtime_id }}/memory">
            <i class="fa-area-chart"></i> memory
          </a><br>
          <a ng-if="log.jitlog_id" class="list-profile-link" href="#/{{ log.runtime_id }}/traces">
            <i class="fa-cogs"></i> jit
          </a>
      </div>
      <div class="col-md-3" >
          <dl class="list-properties">
              <dt>Time</dt> <dd>{{ log.time_in_seconds }} sec</dd> <br>
              <dt>OS</dt> <dd>{{ log.os }}</dd>
          </dl>
      </div>
    </div>
  </div>

  <button ng-if="next" type="button"
          class="btn btn-success btn-block"
          ng-click="more(next)">
    More
  </button>

</div>
